<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Library.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>